# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [47]:
import warnings
warnings.filterwarnings('ignore')

In [48]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [52]:
symbol = 'META'
ticker = yf.Ticker(symbol)

### Show ticker info

In [53]:
pd.Series(ticker.info).head(20)

address1                                                        1 Meta Way
city                                                            Menlo Park
state                                                                   CA
zip                                                                  94025
country                                                      United States
phone                                                         650 543 4800
website                                            https://investor.fb.com
industry                                    Internet Content & Information
industryKey                                   internet-content-information
industryDisp                                Internet Content & Information
sector                                              Communication Services
sectorKey                                           communication-services
sectorDisp                                          Communication Services
longBusinessSummary      Meta Platforms, Inc. engages in the developmen...
fullTimeEmployees                                                    70799
companyOfficers          [{'maxAge': 1, 'name': 'Mr. Mark Elliot Zucker...
auditRisk                                                                9
boardRisk                                                               10
compensationRisk                                                        10
shareHolderRightsRisk                                                   10
dtype: object

### Get market data

In [54]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1933 entries, 2024-09-10 09:30:00-04:00 to 2024-09-16 15:59:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1933 non-null   float64
 1   High          1933 non-null   float64
 2   Low           1933 non-null   float64
 3   Close         1933 non-null   float64
 4   Volume        1933 non-null   int64
 5   Dividends     1933 non-null   float64
 6   Stock Splits  1933 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 120.8 KB

### View company actions

In [55]:
# show actions (dividends, splits)
ticker.actions

                           Dividends  Stock Splits
Datetime
2024-09-16 09:30:00-04:00        0.5           0.0

In [56]:
ticker.dividends

Datetime
2024-09-16 09:30:00-04:00    0.5
Name: Dividends, dtype: float64

In [57]:
ticker.splits

Series([], Name: Stock Splits, dtype: float64)

### Annual and Quarterly Financial Statement Summary

In [58]:
ticker.financials

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,-64416000.0,-15795000.0,-23380000.0,-15738000.0,NaN
Tax Rate For Calcs,0.176,0.195,0.167,0.122,NaN
Normalized EBITDA,59418000000.0,37771000000.0,55414000000.0,39662000000.0,NaN
Total Unusual Items,-366000000.0,-81000000.0,-140000000.0,-129000000.0,NaN
Total Unusual Items Excluding Goodwill,-366000000.0,-81000000.0,-140000000.0,-129000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Reconciled Depreciation,11178000000.0,8686000000.0,7967000000.0,6862000000.0,NaN
Reconciled Cost Of Revenue,25959000000.0,25249000000.0,22649000000.0,16692000000.0,NaN
EBITDA,59052000000.0,37690000000.0,55274000000.0,39533000000.0,NaN
EBIT,47874000000.0,29004000000.0,47307000000.0,32671000000.0,NaN
Net Interest Income,1043000000.0,-44000000.0,671000000.0,638000000.0,NaN
Interest Expense,446000000.0,185000000.0,23000000.0,NaN,20000000.0
Interest Income,1639000000.0,461000000.0,484000000.0,672000000.0,NaN
Normalized Income,39399584000.0,23265205000.0,39486620000.0,29259262000.0,NaN
Net Income From Continuing And Discontinued Operation,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Total Expenses,88151000000.0,87665000000.0,71176000000.0,53294000000.0,NaN
Total Operating Income As Reported,46751000000.0,28944000000.0,46753000000.0,32671000000.0,NaN
Diluted Average Shares,2629000000.0,2702000000.0,2859000000.0,2888000000.0,NaN
Basic Average Shares,2574000000.0,2687000000.0,2815000000.0,2851000000.0,NaN
Diluted EPS,14.87,8.59,13.77,10.09,NaN
Basic EPS,15.19,8.63,13.99,10.22,NaN
Diluted NI Availto Com Stockholders,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Average Dilution Earnings,NaN,NaN,NaN,NaN,0.0
Net Income Common Stockholders,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Otherunder Preferred Stock Dividend,NaN,NaN,NaN,0.0,0.0
Net Income,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Net Income Including Noncontrolling Interests,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Net Income Continuous Operations,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Tax Provision,8330000000.0,5619000000.0,7914000000.0,4034000000.0,NaN
Pretax Income,47428000000.0,28819000000.0,47284000000.0,33180000000.0,NaN
Other Income Expense,-366000000.0,-81000000.0,-140000000.0,-129000000.0,NaN
Other Non Operating Income Expenses,NaN,-320000000.0,210000000.0,-34000000.0,27000000.0
Gain On Sale Of Security,-366000000.0,-81000000.0,-140000000.0,-129000000.0,NaN
Net Non Operating Interest Income Expense,1043000000.0,-44000000.0,671000000.0,638000000.0,NaN
Total Other Finance Cost,150000000.0,320000000.0,-210000000.0,34000000.0,NaN
Interest Expense Non Operating,446000000.0,185000000.0,23000000.0,NaN,20000000.0
Interest Income Non Operating,1639000000.0,461000000.0,484000000.0,672000000.0,NaN
Operating Income,46751000000.0,28944000000.0,46753000000.0,32671000000.0,NaN
Operating Expense,62192000000.0,62416000000.0,48527000000.0,36602000000.0,NaN
Research And Development,38483000000.0,35338000000.0,24655000000.0,18447000000.0,NaN
Selling General And Administration,23709000000.0,27078000000.0,23872000000.0,18155000000.0,NaN
Selling And Marketing Expense,12301000000.0,15262000000.0,14043000000.0,11591000000.0,NaN
General And Administrative Expense,11408000000.0,11816000000.0,9829000000.0,6564000000.0,NaN
Other Gand A,11408000000.0,11816000000.0,9829000000.0,6564000000.0,NaN
Gross Profit,108943000000.0,91360000000.0,95280000000.0,69273000000.0,NaN
Cost Of Revenue,25959000000.0,25249000000.0,22649000000.0,16692000000.0,NaN
Total Revenue,134902000000.0,116609000000.0,117929000000.0,85965000000.0,NaN
Operating Revenue,133844000000.0,115801000000.0,117208000000.0,85308000000.0,NaN

In [59]:
ticker.quarterly_financials

,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Tax Effect Of Unusual Items,-18480000.0,-32560000.0,-10126137.918724,-16660000.0,-23200000.0,NaN,NaN
Tax Rate For Calcs,0.11,0.22,0.166002,0.17,0.16,NaN,NaN
Normalized EBITDA,19039000000.0,17832000000.0,20176000000.0,17116000000.0,12177000000.0,NaN,NaN
Total Unusual Items,-168000000.0,-148000000.0,-61000000.0,-98000000.0,-145000000.0,NaN,NaN
Total Unusual Items Excluding Goodwill,-168000000.0,-148000000.0,-61000000.0,-98000000.0,-145000000.0,NaN,NaN
Net Income From Continuing Operation Net Minority Interest,13465000000.0,12369000000.0,14017000000.0,11583000000.0,7788000000.0,NaN,NaN
Reconciled Depreciation,3637000000.0,3374000000.0,3172000000.0,2859000000.0,2623000000.0,NaN,NaN
Reconciled Cost Of Revenue,7308000000.0,6640000000.0,7695000000.0,6210000000.0,5945000000.0,NaN,NaN
EBITDA,18871000000.0,17684000000.0,20115000000.0,17018000000.0,12032000000.0,NaN,NaN
EBIT,15234000000.0,14310000000.0,16943000000.0,14159000000.0,9409000000.0,NaN,NaN
Net Interest Income,427000000.0,513000000.0,484000000.0,370000000.0,46000000.0,NaN,NaN
Interest Expense,128000000.0,127000000.0,136000000.0,139000000.0,116000000.0,NaN,NaN
Interest Income,540000000.0,585000000.0,588000000.0,534000000.0,323000000.0,NaN,NaN
Normalized Income,13614520000.0,12484440000.0,14067873862.081276,11664340000.0,7909800000.0,NaN,NaN
Net Income From Continuing And Discontinued Operation,13465000000.0,12369000000.0,14017000000.0,11583000000.0,7788000000.0,NaN,NaN
Total Expenses,24224000000.0,22637000000.0,23727000000.0,20398000000.0,22607000000.0,NaN,NaN
Total Operating Income As Reported,14847000000.0,13818000000.0,16384000000.0,13748000000.0,9392000000.0,NaN,NaN
Diluted Average Shares,2610000000.0,2625000000.0,2630000000.0,2641000000.0,2612000000.0,NaN,NaN
Basic Average Shares,2534000000.0,2545000000.0,2566000000.0,2576000000.0,2568000000.0,NaN,NaN
Diluted EPS,5.16,4.71,5.33,4.39,2.98,NaN,NaN
Basic EPS,5.31,4.86,5.46,4.5,3.03,NaN,NaN
Diluted NI Availto Com Stockholders,13465000000.0,12369000000.0,14017000000.0,11583000000.0,7788000000.0,NaN,NaN
Average Dilution Earnings,NaN,NaN,NaN,NaN,NaN,801000000.0,NaN
Net Income Common Stockholders,13465000000.0,12369000000.0,14017000000.0,11583000000.0,7788000000.0,NaN,NaN
Net Income,13465000000.0,12369000000.0,14017000000.0,11583000000.0,7788000000.0,NaN,NaN
Net Income Including Noncontrolling Interests,13465000000.0,12369000000.0,14017000000.0,11583000000.0,7788000000.0,NaN,NaN
Net Income Continuous Operations,13465000000.0,12369000000.0,14017000000.0,11583000000.0,7788000000.0,NaN,NaN
Tax Provision,1641000000.0,1814000000.0,2790000000.0,2437000000.0,1505000000.0,NaN,NaN
Pretax Income,15106000000.0,14183000000.0,16807000000.0,14020000000.0,9293000000.0,NaN,NaN
Other Income Expense,-168000000.0,-148000000.0,-61000000.0,-98000000.0,-145000000.0,NaN,NaN
Other Non Operating Income Expenses,NaN,NaN,NaN,NaN,NaN,NaN,-339000000.0
Gain On Sale Of Security,-168000000.0,-148000000.0,-61000000.0,-98000000.0,-145000000.0,NaN,NaN
Net Non Operating Interest Income Expense,427000000.0,513000000.0,484000000.0,370000000.0,46000000.0,NaN,NaN
Total Other Finance Cost,-15000000.0,-55000000.0,-32000000.0,25000000.0,161000000.0,NaN,NaN
Interest Expense Non Operating,128000000.0,127000000.0,136000000.0,139000000.0,116000000.0,NaN,NaN
Interest Income Non Operating,540000000.0,585000000.0,588000000.0,534000000.0,323000000.0,NaN,NaN
Operating Income,14847000000.0,13818000000.0,16384000000.0,13748000000.0,9392000000.0,NaN,NaN
Operating Expense,16916000000.0,15997000000.0,16032000000.0,14188000000.0,16662000000.0,NaN,NaN
Research And Development,10537000000.0,9978000000.0,10517000000.0,9241000000.0,9344000000.0,NaN,NaN
Selling General And Administration,6379000000.0,6019000000.0,5515000000.0,4947000000.0,7318000000.0,NaN,NaN
Selling And Marketing Expense,2721000000.0,2564000000.0,3226000000.0,2877000000.0,3154000000.0,NaN,NaN
General And Administrative Expense,3658000000.0,3455000000.0,2289000000.0,2070000000.0,4164000000.0,NaN,NaN
Other Gand A,3658000000.0,3455000000.0,2289000000.0,2070000000.0,4164000000.0,NaN,NaN
Gross Profit,31763000000.0,29815000000.0,32416000000.0,27936000000.0,26054000000.0,NaN,NaN
Cost Of Revenue,7308000000.0,6640000000.0,7695000000.0,6210000000.0,5945000000.0,NaN,NaN
Total Revenue,39071000000.0,36455000000.0,40111000000.0,34146000000.0,31999000000.0,NaN,NaN
Operating Revenue,38682000000.0,36075000000.0,39777000000.0,33853000000.0,31774000000.0,NaN,NaN

### Annual and Quarterly Balance Sheet

In [60]:
ticker.balance_sheet

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,0.0,NaN,NaN,NaN,NaN
Ordinary Shares Number,2561000000.0,2614000000.0,2741000000.0,2849000000.0,NaN
Share Issued,2561000000.0,2614000000.0,2741000000.0,2849000000.0,NaN
Total Debt,37234000000.0,26591000000.0,13873000000.0,10654000000.0,NaN
Tangible Book Value,131726000000.0,104510000000.0,105048000000.0,108617000000.0,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,65403000000.0,40738000000.0,47998000000.0,61954000000.0,NaN
Other Short Term Investments,23541000000.0,26057000000.0,31397000000.0,44378000000.0,NaN
Cash And Cash Equivalents,41862000000.0,14681000000.0,16601000000.0,17576000000.0,NaN
Cash Equivalents,35597000000.0,8505000000.0,9293000000.0,11088000000.0,NaN
Cash Financial,6265000000.0,6176000000.0,7308000000.0,6488000000.0,NaN

In [61]:
ticker.quarterly_balance_sheet

,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Treasury Shares Number,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Ordinary Shares Number,2533087958.0,2537000000.0,2561000000.0,2571000000.0,2573000000.0,NaN,NaN
Share Issued,2533087958.0,2537000000.0,2561000000.0,2571000000.0,2573000000.0,NaN,NaN
Total Debt,37991000000.0,37633000000.0,37234000000.0,36217000000.0,36218000000.0,NaN,NaN
Tangible Book Value,136109000000.0,128875000000.0,131726000000.0,121392000000.0,112518000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,58080000000.0,58120000000.0,65403000000.0,61123000000.0,53446000000.0,NaN,NaN
Other Short Term Investments,26035000000.0,25813000000.0,23541000000.0,24233000000.0,24661000000.0,NaN,NaN
Cash And Cash Equivalents,32045000000.0,32307000000.0,41862000000.0,36890000000.0,28785000000.0,NaN,NaN
Cash Equivalents,25886000000.0,25812000000.0,35597000000.0,31557000000.0,22663000000.0,NaN,NaN
Cash Financial,6159000000.0,6495000000.0,6265000000.0,5333000000.0,6122000000.0,NaN,NaN

### Annual and Quarterly Cashflow Statement

In [62]:
ticker.cashflow

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,43847000000.0,19044000000.0,38993000000.0,23584000000.0,NaN
Repurchase Of Capital Stock,-19774000000.0,-27956000000.0,-44537000000.0,-6272000000.0,NaN
Repayment Of Debt,-1058000000.0,-850000000.0,-677000000.0,-604000000.0,NaN
Issuance Of Debt,8455000000.0,9921000000.0,0.0,0.0,NaN
Capital Expenditure,-27266000000.0,-31431000000.0,-18690000000.0,-15163000000.0,NaN
Interest Paid Supplemental Data,448000000.0,0.0,0.0,NaN,NaN
Income Tax Paid Supplemental Data,6607000000.0,6407000000.0,8525000000.0,4229000000.0,NaN
End Cash Position,42827000000.0,15596000000.0,16865000000.0,17954000000.0,NaN
Beginning Cash Position,15596000000.0,16865000000.0,17954000000.0,19279000000.0,NaN
Effect Of Exchange Rate Changes,113000000.0,-638000000.0,-474000000.0,279000000.0,NaN
Changes In Cash,27118000000.0,-631000000.0,-615000000.0,-1604000000.0,NaN
Financing Cash Flow,-19500000000.0,-22136000000.0,-50728000000.0,-10292000000.0,NaN
Cash Flow From Continuing Financing Activities,-19500000000.0,-22136000000.0,-50728000000.0,-10292000000.0,NaN
Net Other Financing Charges,-7123000000.0,-3251000000.0,-5514000000.0,-3416000000.0,NaN
Net Common Stock Issuance,-19774000000.0,-27956000000.0,-44537000000.0,-6272000000.0,NaN
Common Stock Payments,-19774000000.0,-27956000000.0,-44537000000.0,-6272000000.0,NaN
Net Issuance Payments Of Debt,7397000000.0,9071000000.0,-677000000.0,-604000000.0,NaN
Net Short Term Debt Issuance,NaN,NaN,14000000.0,24000000.0,-223000000.0
Net Long Term Debt Issuance,7397000000.0,9071000000.0,-677000000.0,-604000000.0,NaN
Long Term Debt Payments,-1058000000.0,-850000000.0,-677000000.0,-604000000.0,NaN
Long Term Debt Issuance,8455000000.0,9921000000.0,0.0,0.0,NaN
Investing Cash Flow,-24495000000.0,-28970000000.0,-7570000000.0,-30059000000.0,NaN
Cash Flow From Continuing Investing Activities,-24495000000.0,-28970000000.0,-7570000000.0,-30059000000.0,NaN
Net Other Investing Changes,-23000000.0,-4000000.0,-331000000.0,-36000000.0,NaN
Net Investment Purchase And Sale,3202000000.0,3532000000.0,12179000000.0,-14520000000.0,NaN
Sale Of Investment,6184000000.0,13158000000.0,42586000000.0,25771000000.0,NaN
Purchase Of Investment,-2982000000.0,-9626000000.0,-30407000000.0,-40291000000.0,NaN
Net Business Purchase And Sale,-629000000.0,-1312000000.0,-851000000.0,-388000000.0,NaN
Purchase Of Business,-629000000.0,-1312000000.0,-851000000.0,-388000000.0,NaN
Net PPE Purchase And Sale,-27045000000.0,-31186000000.0,-18567000000.0,-15115000000.0,NaN
Sale Of PPE,221000000.0,245000000.0,123000000.0,48000000.0,NaN
Purchase Of PPE,-27266000000.0,-31431000000.0,-18690000000.0,-15163000000.0,NaN
Operating Cash Flow,71113000000.0,50475000000.0,57683000000.0,38747000000.0,NaN
Cash Flow From Continuing Operating Activities,71113000000.0,50475000000.0,57683000000.0,38747000000.0,NaN
Change In Working Capital,3836000000.0,5683000000.0,700000000.0,-2723000000.0,NaN
Change In Other Working Capital,NaN,NaN,187000000.0,108000000.0,123000000.0
Change In Other Current Liabilities,624000000.0,886000000.0,941000000.0,-527000000.0,NaN
Change In Other Current Assets,-80000000.0,-106000000.0,-349000000.0,-34000000.0,NaN
Change In Payables And Accrued Expense,5132000000.0,4510000000.0,4968000000.0,-785000000.0,NaN
Change In Accrued Expense,5352000000.0,4210000000.0,3544000000.0,-946000000.0,NaN
Change In Payable,-220000000.0,300000000.0,1424000000.0,161000000.0,NaN
Change In Account Payable,51000000.0,210000000.0,1436000000.0,-17000000.0,NaN
Change In Prepaid Assets,559000000.0,162000000.0,-1750000000.0,135000000.0,NaN
Change In Receivables,-2399000000.0,231000000.0,-3110000000.0,-1512000000.0,NaN
Changes In Account Receivables,-2399000000.0,231000000.0,-3110000000.0,-1512000000.0,NaN
Other Non Cash Items,411000000.0,1982000000.0,-127000000.0,85000000.0,NaN
Stock Based Compensation,14027000000.0,11992000000.0,9164000000.0,6536000000.0,NaN
Unrealized Gain Loss On Investment Securities,NaN,463000000.0,-232000000.0,33000000.0,NaN
Asset Impairment Charge,2432000000.0,2218000000.0,0.0,0.0,NaN
Deferred Tax,131000000.0,-3286000000.0,609000000.0,-1192000000.0,NaN
Deferred Income Tax,131000000.0,-3286000000.0,609000000.0,-1192000000.0,NaN
Depreciation Amortization Depletion,11178000000.0,8686000000.0,7967000000.0,6862000000.0,NaN
Depreciation And Amortization,11178000000.0,8686000000.0,7967000000.0,6862000000.0,NaN
Net Income From Continuing Operations,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN

In [63]:
ticker.quarterly_cashflow

,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31
Free Cash Flow,11197000000.0,12846000000.0,11739000000.0,13859000000.0,11074000000.0,NaN,NaN
Repurchase Of Capital Stock,-6299000000.0,-15008000000.0,-5942000000.0,-3569000000.0,-898000000.0,NaN,NaN
Repayment Of Debt,-299000000.0,-315000000.0,-307000000.0,-267000000.0,-220000000.0,NaN,NaN
Issuance Of Debt,NaN,NaN,0.0,0.0,NaN,NaN,0.0
Capital Expenditure,-8173000000.0,-6400000000.0,-7665000000.0,-6543000000.0,-6235000000.0,NaN,NaN
Interest Paid Supplemental Data,124000000.0,121000000.0,146000000.0,120000000.0,0.0,NaN,NaN
Income Tax Paid Supplemental Data,5929000000.0,630000000.0,4591000000.0,509000000.0,1102000000.0,NaN,NaN
End Cash Position,33026000000.0,33284000000.0,42827000000.0,37900000000.0,29804000000.0,NaN,NaN
Beginning Cash Position,33284000000.0,42827000000.0,37900000000.0,29804000000.0,12420000000.0,NaN,NaN
Effect Of Exchange Rate Changes,-152000000.0,-288000000.0,396000000.0,-354000000.0,-14000000.0,NaN,NaN
Changes In Cash,-106000000.0,-9255000000.0,4531000000.0,8450000000.0,17398000000.0,NaN,NaN
Financing Cash Flow,-11178000000.0,-19767000000.0,-8401000000.0,-5875000000.0,5292000000.0,NaN,NaN
Cash Flow From Continuing Financing Activities,-11178000000.0,-19767000000.0,-8401000000.0,-5875000000.0,5292000000.0,NaN,NaN
Net Other Financing Charges,-3314000000.0,-3171000000.0,-2152000000.0,-2039000000.0,-2045000000.0,NaN,NaN
Cash Dividends Paid,-1266000000.0,-1273000000.0,NaN,NaN,NaN,0.0,NaN
Common Stock Dividend Paid,-1266000000.0,-1273000000.0,NaN,NaN,NaN,0.0,NaN
Net Common Stock Issuance,-6299000000.0,-15008000000.0,-5942000000.0,-3569000000.0,-898000000.0,NaN,NaN
Common Stock Payments,-6299000000.0,-15008000000.0,-5942000000.0,-3569000000.0,-898000000.0,NaN,NaN
Net Issuance Payments Of Debt,-299000000.0,-315000000.0,-307000000.0,-267000000.0,8235000000.0,NaN,NaN
Net Long Term Debt Issuance,-299000000.0,-315000000.0,-307000000.0,-267000000.0,8235000000.0,NaN,NaN
Long Term Debt Payments,-299000000.0,-315000000.0,-307000000.0,-267000000.0,-220000000.0,NaN,NaN
Long Term Debt Issuance,NaN,NaN,0.0,0.0,NaN,NaN,0.0
Investing Cash Flow,-8298000000.0,-8734000000.0,-6472000000.0,-6077000000.0,-5203000000.0,NaN,NaN
Cash Flow From Continuing Investing Activities,-8298000000.0,-8734000000.0,-6472000000.0,-6077000000.0,-5203000000.0,NaN,NaN
Net Other Investing Changes,NaN,NaN,-3000000.0,-10000000.0,-85000000.0,75000000.0,2000000.0
Net Investment Purchase And Sale,-56000000.0,-2262000000.0,1187000000.0,467000000.0,1099000000.0,NaN,NaN
Sale Of Investment,3233000000.0,4625000000.0,2359000000.0,1474000000.0,1817000000.0,NaN,NaN
Purchase Of Investment,-3289000000.0,-6887000000.0,-1172000000.0,-1007000000.0,-718000000.0,NaN,NaN
Net Business Purchase And Sale,-57000000.0,-72000000.0,-64000000.0,-38000000.0,-83000000.0,NaN,NaN
Purchase Of Business,-57000000.0,-72000000.0,-64000000.0,-38000000.0,-83000000.0,NaN,NaN
Net PPE Purchase And Sale,-8173000000.0,-6400000000.0,-7592000000.0,-6496000000.0,-6134000000.0,NaN,NaN
Sale Of PPE,NaN,NaN,73000000.0,47000000.0,82000000.0,19000000.0,55000000.0
Purchase Of PPE,-8173000000.0,-6400000000.0,-7665000000.0,-6543000000.0,-6235000000.0,NaN,NaN
Operating Cash Flow,19370000000.0,19246000000.0,19404000000.0,20402000000.0,17309000000.0,NaN,NaN
Cash Flow From Continuing Operating Activities,19370000000.0,19246000000.0,19404000000.0,20402000000.0,17309000000.0,NaN,NaN
Change In Working Capital,-741000000.0,223000000.0,-1271000000.0,-995000000.0,3531000000.0,NaN,NaN
Change In Other Current Liabilities,707000000.0,83000000.0,663000000.0,-72000000.0,-151000000.0,NaN,NaN
Change In Other Current Assets,53000000.0,-94000000.0,-111000000.0,-36000000.0,37000000.0,NaN,NaN
Change In Payables And Accrued Expense,-247000000.0,-2386000000.0,320000000.0,699000000.0,5123000000.0,NaN,NaN
Change In Accrued Expense,-497000000.0,-1274000000.0,-350000000.0,78000000.0,5530000000.0,NaN,NaN
Change In Payable,250000000.0,-1112000000.0,670000000.0,621000000.0,-407000000.0,NaN,NaN
Change In Account Payable,250000000.0,-1112000000.0,594000000.0,612000000.0,-51000000.0,NaN,NaN
Change In Prepaid Assets,-84000000.0,100000000.0,700000000.0,-908000000.0,-54000000.0,NaN,NaN
Change In Receivables,-1170000000.0,2520000000.0,-2843000000.0,-678000000.0,-1424000000.0,NaN,NaN
Changes In Account Receivables,-1170000000.0,2520000000.0,-2843000000.0,-678000000.0,-1424000000.0,NaN,NaN
Other Non Cash Items,-5000000.0,-66000000.0,133000000.0,74000000.0,211000000.0,NaN,NaN
Stock Based Compensation,4616000000.0,3562000000.0,3424000000.0,3492000000.0,4060000000.0,NaN,NaN
Asset Impairment Charge,40000000.0,240000000.0,1090000000.0,340000000.0,232000000.0,NaN,NaN
Deferred Tax,-1642000000.0,-456000000.0,-1161000000.0,3049000000.0,-1137000000.0,NaN,NaN
Deferred Income Tax,-1642000000.0,-456000000.0,-1161000000.0,3049000000.0,-1137000000.0,NaN,NaN
Depreciation Amortization Depletion,3637000000.0,3374000000.0,3172000000.0,2859000000.0,2623000000.0,NaN,NaN
Depreciation And Amortization,3637000000.0,3374000000.0,3172000000.0,2859000000.0,2623000000.0,NaN,NaN
Net Income From Continuing Operations,13465000000.0,12369000000.0,14017000000.0,11583000000.0,7789000000.0,NaN,NaN

In [64]:
ticker.earnings

In [65]:
ticker.quarterly_earnings

### Sustainability: Environmental, Social and Governance (ESG)

In [66]:
ticker.sustainability

                                                                           esgScores
maxAge                                                                         86400
totalEsg                                                                       34.08
environmentScore                                                                2.71
socialScore                                                                    21.09
governanceScore                                                                10.29
ratingYear                                                                      2023
ratingMonth                                                                        9
highestControversy                                                               4.0
peerCount                                                                        105
esgPerformance                                                              OUT_PERF
peerGroup                                                        Software & Services
relatedControversy                                              [Customer Incidents]
peerEsgScorePerformance            {'min': 9.84, 'avg': 18.17809523809525, 'max':...
peerGovernancePerformance          {'min': 3.47, 'avg': 6.753495145631067, 'max':...
peerSocialPerformance              {'min': 4.61, 'avg': 8.862038834951454, 'max':...
peerEnvironmentPerformance         {'min': 0.07, 'avg': 2.5702912621359224, 'max'...
peerHighestControversyPerformance  {'min': 0.0, 'avg': 1.5333333333333334, 'max':...
percentile                                                                     81.17
environmentPercentile                                                           None
socialPercentile                                                                None
governancePercentile                                                            None
adult                                                                          False
alcoholic                                                                      False
animalTesting                                                                  False
catholic                                                                       False
controversialWeapons                                                           False
smallArms                                                                      False
furLeather                                                                     False
gambling                                                                       False
gmo                                                                            False
militaryContract                                                               False
nuclear                                                                        False
pesticides                                                                     False
palmOil                                                                        False
coal                                                                           False
tobacco                                                                        False

### Analyst Recommendations

In [67]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   period      4 non-null      object
 1   strongBuy   4 non-null      int64
 2   buy         4 non-null      int64
 3   hold        4 non-null      int64
 4   sell        4 non-null      int64
 5   strongSell  4 non-null      int64
dtypes: int64(5), object(1)
memory usage: 320.0+ bytes

In [68]:
ticker.recommendations.tail(10)

  period  strongBuy  buy  hold  sell  strongSell
0     0m          0    0     0     0           0
1    -1m         20   36     6     2           0
2    -2m         20   35     6     2           0
3    -3m         19   32     6     2           0

### Upcoming Events

In [69]:
ticker.calendar

{'Dividend Date': datetime.date(2024, 9, 25),
 'Ex-Dividend Date': datetime.date(2024, 9, 15),
 'Earnings Date': [datetime.date(2024, 10, 23), datetime.date(2024, 10, 28)],
 'Earnings High': 5.76,
 'Earnings Low': 4.75,
 'Earnings Average': 5.21,
 'Revenue High': 41046000000,
 'Revenue Low': 39040200000,
 'Revenue Average': 40130100000}

### Option Expiration Dates

In [70]:
ticker.options

('2024-09-20',
 '2024-09-27',
 '2024-10-04',
 '2024-10-11',
 '2024-10-18',
 '2024-10-25',
 '2024-11-01',
 '2024-11-15',
 '2024-12-20',
 '2025-01-17',
 '2025-02-21',
 '2025-03-21',
 '2025-04-17',
 '2025-06-20',
 '2025-08-15',
 '2025-09-19',
 '2025-12-19',
 '2026-01-16',
 '2026-06-18',
 '2026-12-18')

In [71]:
expiration = ticker.options[0]

In [72]:
options = ticker.option_chain(expiration)

In [73]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     190 non-null    object
 1   lastTradeDate      190 non-null    datetime64[ns, UTC]
 2   strike             190 non-null    float64
 3   lastPrice          190 non-null    float64
 4   bid                190 non-null    float64
 5   ask                190 non-null    float64
 6   change             190 non-null    float64
 7   percentChange      190 non-null    float64
 8   volume             188 non-null    float64
 9   openInterest       190 non-null    int64
 10  impliedVolatility  190 non-null    float64
 11  inTheMoney         190 non-null    bool
 12  contractSize       190 non-null    object
 13  currency           190 non-null    object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 19.6+ KB

In [74]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,META240920C00005000,2024-09-16 15:16:53+00:00,5.0,516.15,0.00,0.00,0.0,0.0,5.0,7,0.00001,True,REGULAR,USD
1,META240920C00010000,2024-08-02 19:36:10+00:00,10.0,477.00,510.20,512.90,0.0,0.0,50.0,11,0.00001,True,REGULAR,USD
2,META240920C00015000,2024-08-02 17:02:47+00:00,15.0,472.65,505.05,508.05,0.0,0.0,2.0,10,0.00001,True,REGULAR,USD
3,META240920C00020000,2024-09-13 19:48:38+00:00,20.0,505.25,0.00,0.00,0.0,0.0,130.0,0,0.00001,True,REGULAR,USD
4,META240920C00025000,2024-09-13 19:48:38+00:00,25.0,500.35,0.00,0.00,0.0,0.0,140.0,0,0.00001,True,REGULAR,USD

In [75]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     176 non-null    object
 1   lastTradeDate      176 non-null    datetime64[ns, UTC]
 2   strike             176 non-null    float64
 3   lastPrice          176 non-null    float64
 4   bid                176 non-null    float64
 5   ask                176 non-null    float64
 6   change             176 non-null    float64
 7   percentChange      176 non-null    float64
 8   volume             163 non-null    float64
 9   openInterest       176 non-null    int64
 10  impliedVolatility  176 non-null    float64
 11  inTheMoney         176 non-null    bool
 12  contractSize       176 non-null    object
 13  currency           176 non-null    object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 18.2+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [76]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [77]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msft.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [78]:
tickers = yf.Tickers('msft aapl goog')

In [79]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [80]:
pd.Series(tickers.tickers['MSFT'].info)

address1             One Microsoft Way
city                           Redmond
state                               WA
zip                         98052-6399
country                  United States
                           ...
grossMargins                   0.69764
ebitdaMargins                  0.52804
operatingMargins               0.43143
financialCurrency                  USD
trailingPegRatio                2.3262
Length: 132, dtype: object

In [81]:
tickers.tickers['AAPL'].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-08-19 00:00:00-04:00,225.720001,225.990005,223.039993,225.889999,40687800,0.0,0.0
2024-08-20 00:00:00-04:00,225.770004,227.169998,225.449997,226.509995,30299000,0.0,0.0
2024-08-21 00:00:00-04:00,226.520004,227.979996,225.050003,226.399994,34765500,0.0,0.0
2024-08-22 00:00:00-04:00,227.789993,228.339996,223.899994,224.529999,43695300,0.0,0.0
2024-08-23 00:00:00-04:00,225.660004,228.220001,224.330002,226.839996,38677300,0.0,0.0
2024-08-26 00:00:00-04:00,226.759995,227.279999,223.889999,227.179993,30602200,0.0,0.0
2024-08-27 00:00:00-04:00,226.000000,228.850006,224.889999,228.029999,35934600,0.0,0.0
2024-08-28 00:00:00-04:00,227.919998,229.860001,225.679993,226.490005,38052200,0.0,0.0
2024-08-29 00:00:00-04:00,230.100006,232.919998,228.880005,229.789993,51906300,0.0,0.0
2024-08-30 00:00:00-04:00,230.190002,230.399994,227.479996,229.000000,52990800,0.0,0.0
2024-09-03 00:00:00-04:00,228.550003,229.000000,221.169998,222.770004,50190600,0.0,0.0
2024-09-04 00:00:00-04:00,221.660004,221.779999,217.479996,220.850006,43840200,0.0,0.0
2024-09-05 00:00:00-04:00,221.630005,225.479996,221.520004,222.380005,36615400,0.0,0.0
2024-09-06 00:00:00-04:00,223.949997,225.240005,219.770004,220.820007,48423000,0.0,0.0
2024-09-09 00:00:00-04:00,220.820007,221.270004,216.710007,220.910004,67180000,0.0,0.0
2024-09-10 00:00:00-04:00,218.919998,221.479996,216.729996,220.110001,51591000,0.0,0.0
2024-09-11 00:00:00-04:00,221.460007,223.089996,217.889999,222.660004,44587100,0.0,0.0
2024-09-12 00:00:00-04:00,222.500000,223.550003,219.820007,222.770004,37498200,0.0,0.0
2024-09-13 00:00:00-04:00,223.580002,224.039993,221.910004,222.500000,36766600,0.0,0.0
2024-09-16 00:00:00-04:00,216.539993,217.220001,213.919998,216.320007,59288400,0.0,0.0

In [82]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

Price                                  Close  Dividends        High  \
Date                      Ticker
2024-08-19 00:00:00+00:00 AAPL    225.889999        0.0  225.990005
                          GOOG    168.178604        0.0  168.248519
                          MSFT    421.529999        0.0  421.750000
2024-08-20 00:00:00+00:00 AAPL    226.509995        0.0  227.169998
                          GOOG    168.737885        0.0  170.185975
                          MSFT    424.799988        0.0  425.859985
2024-08-21 00:00:00+00:00 AAPL    226.399994        0.0  227.979996
                          GOOG    167.409637        0.0  168.418304
                          MSFT    424.140015        0.0  426.399994
2024-08-22 00:00:00+00:00 AAPL    224.529999        0.0  228.339996
                          GOOG    165.272446        0.0  169.197272
                          MSFT    415.549988        0.0  426.790009
2024-08-23 00:00:00+00:00 AAPL    226.839996        0.0  228.220001
                          GOOG    167.209885        0.0  167.729205
                          MSFT    416.790009        0.0  419.260010
2024-08-26 00:00:00+00:00 AAPL    227.179993        0.0  227.279999
                          GOOG    167.709229        0.0  169.157335
                          MSFT    413.489990        0.0  417.279999
2024-08-27 00:00:00+00:00 AAPL    228.029999        0.0  228.850006
                          GOOG    166.161270        0.0  168.023809
                          MSFT    413.839996        0.0  414.359985
2024-08-28 00:00:00+00:00 AAPL    226.490005        0.0  229.860001
                          GOOG    164.283737        0.0  167.169937
                          MSFT    410.600006        0.0  415.000000
2024-08-29 00:00:00+00:00 AAPL    229.789993        0.0  232.919998
                          GOOG    163.185181        0.0  167.409631
                          MSFT    413.119995        0.0  422.049988
2024-08-30 00:00:00+00:00 AAPL    229.000000        0.0  230.399994
                          GOOG    164.892944        0.0  165.062719
                          MSFT    417.140015        0.0  417.489990
2024-09-03 00:00:00+00:00 AAPL    222.770004        0.0  229.000000
                          GOOG    158.401489        0.0  163.165223
                          MSFT    409.440002        0.0  419.880005
2024-09-04 00:00:00+00:00 AAPL    220.850006        0.0  221.779999
                          GOOG    157.602539        0.0  160.189131
                          MSFT    408.899994        0.0  411.239990
2024-09-05 00:00:00+00:00 AAPL    222.380005        0.0  225.479996
                          GOOG    158.391510        0.0  160.803329
                          MSFT    408.390015        0.0  413.100006
2024-09-06 00:00:00+00:00 AAPL    220.820007        0.0  225.240005
                          GOOG    151.930008        0.0  159.010683
                          MSFT    401.700012        0.0  410.649994
2024-09-09 00:00:00+00:00 AAPL    220.910004        0.0  221.270004
                          GOOG    149.539993        0.2  154.639999
                          MSFT    405.720001        0.0  408.649994
2024-09-10 00:00:00+00:00 AAPL    220.110001        0.0  221.479996
                          GOOG    150.009995        0.0  152.300003
                          MSFT    414.200012        0.0  416.329987
2024-09-11 00:00:00+00:00 AAPL    222.660004        0.0  223.089996
                          GOOG    152.149994        0.0  152.479996
                          MSFT    423.040009        0.0  423.989990
2024-09-12 00:00:00+00:00 AAPL    222.770004        0.0  223.550003
                          GOOG    155.539993        0.0  155.610001
                          MSFT    427.000000        0.0  427.369995
2024-09-13 00:00:00+00:00 AAPL    222.500000        0.0  224.039993
                          GOOG    158.369995        0.0  159.274994
                          MSFT    430.589996        0.0  431.829987
2024-09-16 00:00:00+00:00 AAPL    216.320007        0.0  217.220001
                          GOOG    158.990005        0.0  159.240005
                          MSFT    431.339996        0.0  433.529999

Price                                    Low        Open  Stock Splits  \
Date                      Ticker
2024-08-19 00:00:00+00:00 AAPL    223.039993  225.720001           0.0
                          GOOG    165.871643  166.780451           0.0
                          MSFT    416.459991  418.959991           0.0
2024-08-20 00:00:00+00:00 AAPL    225.449997  225.770004           0.0
                          GOOG    168.438276  168.518173           0.0
                          MSFT    421.640015  421.700012           0.0
2024-08-21 00:00:00+00:00 AAPL    225.050003  226.520004           0.0
                          GOOG    166.351033  166.770479           0.0
                          MSFT    421.720001  424.079987           0.0
2024-08-22 00:00:00+00:00 AAPL    223.899994  227.789993           0.0
                          GOOG    164.813044  168.817767           0.0
                          MSFT    414.609985  424.359985           0.0
2024-08-23 00:00:00+00:00 AAPL    224.330002  225.660004           0.0
                          GOOG    165.442223  166.331052           0.0
                          MSFT    412.089996  416.980011           0.0
2024-08-26 00:00:00+00:00 AAPL    223.889999  226.759995           0.0
                          GOOG    166.101360  167.933939           0.0
                          MSFT    411.339996  416.369995           0.0
2024-08-27 00:00:00+00:00 AAPL    224.889999  226.000000           0.0
                          GOOG    165.941558  167.389649           0.0
                          MSFT    410.250000  412.859985           0.0
2024-08-28 00:00:00+00:00 AAPL    225.679993  227.919998           0.0
                          GOOG    163.065340  166.560739           0.0
                          MSFT    407.309998  414.880005           0.0
2024-08-29 00:00:00+00:00 AAPL    228.880005  230.100006           0.0
                          GOOG    161.769046  165.841687           0.0
                          MSFT    410.600006  414.940002           0.0
2024-08-30 00:00:00+00:00 AAPL    227.479996  230.190002           0.0
                          GOOG    163.195182  164.004115           0.0
                          MSFT    412.130005  415.600006           0.0
2024-09-03 00:00:00+00:00 AAPL    221.169998  228.550003           0.0
                          GOOG    157.647477  163.100306           0.0
                          MSFT    407.029999  417.910004           0.0
2024-09-04 00:00:00+00:00 AAPL    217.479996  221.660004           0.0
                          GOOG    157.233030  157.867190           0.0
                          MSFT    404.369995  405.910004           0.0
2024-09-05 00:00:00+00:00 AAPL    221.520004  221.630005           0.0
                          GOOG    157.312928  157.572581           0.0
                          MSFT    406.130005  407.619995           0.0
2024-09-06 00:00:00+00:00 AAPL    219.770004  223.949997           0.0
                          GOOG    151.735257  158.481381           0.0
                          MSFT    400.799988  409.059998           0.0
2024-09-09 00:00:00+00:00 AAPL    216.710007  220.820007           0.0
                          GOOG    148.199997  153.630005           0.0
                          MSFT    402.149994  407.239990           0.0
2024-09-10 00:00:00+00:00 AAPL    216.729996  218.919998           0.0
                          GOOG    149.542999  151.449997           0.0
                          MSFT    407.700012  408.200012           0.0
2024-09-11 00:00:00+00:00 AAPL    217.889999  221.460007           0.0
                          GOOG    148.699997  151.089996           0.0
                          MSFT    409.579987  415.500000           0.0
2024-09-12 00:00:00+00:00 AAPL    219.820007  222.500000           0.0
                          GOOG    153.500000  154.809998           0.0
                          MSFT    419.750000  423.309998           0.0
2024-09-13 00:00:00+00:00 AAPL    221.910004  223.580002           0.0
                          GOOG    156.110001  156.362000           0.0
                          MSFT    425.459991  425.829987           0.0
2024-09-16 00:00:00+00:00 AAPL    213.919998  216.539993           0.0
                          GOOG    157.610001  158.330002           0.0
                          MSFT    428.220001  430.600006           0.0

Price                               Volume
Date                      Ticker
2024-08-19 00:00:00+00:00 AAPL    40687800
                          GOOG    13100800
                          MSFT    15234000
2024-08-20 00:00:00+00:00 AAPL    30299000
                          GOOG    12622500
                          MSFT    16387600
2024-08-21 00:00:00+00:00 AAPL    34765500
                          GOOG    15269600
                          MSFT    16067300
2024-08-22 00:00:00+00:00 AAPL    43695300
                          GOOG    19123800
                          MSFT    19361900
2024-08-23 00:00:00+00:00 AAPL    38677300
                          GOOG    14281600
                          MSFT    18493800
2024-08-26 00:00:00+00:00 AAPL    30602200
                          GOOG    11990300
                          MSFT    13152800
2024-08-27 00:00:00+00:00 AAPL    35934600
                          GOOG    13718200
                          MSFT    13492900
2024-08-28 00:00:00+00:00 AAPL    38052200
                          GOOG    15208700
                          MSFT    14882700
2024-08-29 00:00:00+00:00 AAPL    51906300
                          GOOG    17133800
                          MSFT    17045200
2024-08-30 00:00:00+00:00 AAPL    52990800
                          GOOG    18498800
                          MSFT    24308300
2024-09-03 00:00:00+00:00 AAPL    50190600
                          GOOG    26533100
                          MSFT    20313600
2024-09-04 00:00:00+00:00 AAPL    43840200
                          GOOG    17410700
                          MSFT    15135800
2024-09-05 00:00:00+00:00 AAPL    36615400
                          GOOG    14139500
                          MSFT    14195500
2024-09-06 00:00:00+00:00 AAPL    48423000
                          GOOG    24999100
                          MSFT    19609500
2024-09-09 00:00:00+00:00 AAPL    67180000
                          GOOG    28057700
                          MSFT    15295100
2024-09-10 00:00:00+00:00 AAPL    51591000
                          GOOG    20401800
                          MSFT    19594300
2024-09-11 00:00:00+00:00 AAPL    44587100
                          GOOG    18991500
                          MSFT    19266900
2024-09-12 00:00:00+00:00 AAPL    37498200
                          GOOG    21024100
                          MSFT    17418800
2024-09-13 00:00:00+00:00 AAPL    36766600
                          GOOG    16733900
                          MSFT    15874600
2024-09-16 00:00:00+00:00 AAPL    59288400
                          GOOG    14138700
                          MSFT    13768200

In [83]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 00:00:00+00:00 to 2020-01-03 00:00:00+00:00
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [85]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4101 entries, 2024-09-11 08:00:00+00:00 to 2024-09-17 12:19:38+00:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (AAPL, Open)    3686 non-null   float64
 1   (AAPL, High)    3686 non-null   float64
 2   (AAPL, Low)     3686 non-null   float64
 3   (AAPL, Close)   3686 non-null   float64
 4   (AAPL, Volume)  3686 non-null   float64
 5   (MSFT, Open)    3633 non-null   float64
 6   (MSFT, High)    3633 non-null   float64
 7   (MSFT, Low)     3633 non-null   float64
 8   (MSFT, Close)   3633 non-null   float64
 9   (MSFT, Volume)  3633 non-null   float64
 10  (SPY, Open)     4008 non-null   float64
 11  (SPY, High)     4008 non-null   float64
 12  (SPY, Low)      4008 non-null   float64
 13  (SPY, Close)    4008 non-null   float64
 14  (SPY, Volume)   4008 non-null   float64
dtypes: float64(15)
memory usage: 512.6 KB

In [87]:
#from pandas_datareader import data as pdr

#import yfinance as yf
#yf.pdr_override()

## download dataframe
#data = pdr.get_data_yahoo('SPY',
#                          start='2017-01-01',
#                          end='2019-04-30',
#                          auto_adjust=False)

import yfinance as yf
import pandas as pd

# Define the ticker symbol and date range
ticker = 'SPY'
start_date = '2017-01-01'
end_date = '2019-04-30'

# Fetch data using yfinance
data = yf.download(ticker, start=start_date, end=end_date, auto_adjust=False)

# Display the information about the DataFrame
print(data.info())

# Optional: Display the first few rows of the DataFrame
print(data.head())

[*********************100%***********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 583 entries, 2017-01-03 to 2019-04-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       583 non-null    float64
 1   High       583 non-null    float64
 2   Low        583 non-null    float64
 3   Close      583 non-null    float64
 4   Adj Close  583 non-null    float64
 5   Volume     583 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 31.9 KB
None
                  Open        High         Low       Close   Adj Close  \
Date
2017-01-03  225.039993  225.830002  223.880005  225.240005  198.560028
2017-01-04  225.619995  226.750000  225.610001  226.580002  199.741287
2017-01-05  226.270004  226.580002  225.479996  226.399994  199.582611
2017-01-06  226.529999  227.750000  225.899994  227.210007  200.296692
2017-01-09  226.910004  227.070007  226.419998  226.460007  199.635513

              Volume
Date
2017-01-03  91366500
2017-01-04  78744400
2017-01-05  78379000
2017-01-06  71559900
2017-01-09  46939700

In [88]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,269.388458,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,268.790558,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,268.625000,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,269.875916,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,270.299103,57197700

In [89]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,269.388458,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,268.790558,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,268.625000,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,269.875916,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,270.299103,57197700